{% extends "../blocks/chat_base.html" %}

{% load static %}

{% block title %}My Notifications | Conversat{% endblock title %}


{% block body %}

<div class="bg-slate-900 w-full h-screen flex items-center justify-center overflow-y-auto">
    <div class="w-full md:max-w-2xl m-6 mt-20 bg-dark rounded-lg shadow-lg px-10 py-8 h-screen overflow-y-auto">
        <h3 class="text-2xl text-white font-bold mb-8">My Notifications</h3>

        <div class="flex items-center justify-center rounded-md text-white font-bold mb-8">
            <div id="all-notifications" class="rounded-md rounded-r-none w-1/2 py-2.5 text-center bg-dark border-light-dark border-2 border-solid cursor-pointer transition-colors duration-300 hover:bg-green-0-dark">
                All <span class="hidden sm:inline">Notifications</span>
            </div>
            <div id="friend-req-notifications" class="rounded-md rounded-l-none w-1/2 py-2.5 text-center bg-dark border-light-dark border-2 border-solid border-l-1 cursor-pointer transition-colors duration-300 hover:bg-green-0-dark">
                Friend Requests
            </div>
        </div>

        <div id="notifications" class="flex flex-col justify-center items-start px-4">
            <p class="text-gray-500 text-sm">Loading notifications.......</p>
        </div>

    </div>
</div>


{% endblock body %}

{% block scripts %}
<script src="{% static 'js/notifications.js' %}"></script>
{% endblock scripts %}