{% extends "../blocks/chat_base.html" %}

{% load static %}

{% block title %}New Group | Conversat{% endblock title %}


{% block body %}

<div class="bg-slate-900 w-full h-screen flex items-center justify-center overflow-y-auto py-10">
    <form method="post" id="create-group-form" action="{% url 'new-chat-group' %}" class="w-full mx-3.5 sm:mx-24 md:w-3/4 lg:mx-0 bg-dark rounded-lg shadow-lg p-10 lg:w-1/2 my-auto overflow-y-auto" enctype="multipart/form-data">
        {% csrf_token %}

        <h3 class="text-2xl text-white font-bold mb-8">New Group</h3>
        <div>
            <div>
                <label for="group_pic" class="flex flex-col items-center justify-center">
                    <div id="profile-pic-box" class="border-green-0 border-[3px] border-solid  cursor-pointer overflow-hidden w-28 h-28 rounded-full bg-cover bg-no-repeat bg-center flex items-center justify-center" style="background-image: url('/media/group_pic/default_group_pic.jpg');">
                    </div>
                    <p class="cursor-pointer text-sm text-green-0 hover:text-green-0-dark transition-colors mt-1">Change Picture</p>
                </label>
                <input type="file" name="group_pic" id="group_pic" class="hidden">
            </div>
            <div class="my-2.5 flex flex-col">
                <label for="group_name" class="mb-1.5 capitalize font-medium text-green-0">group name</label>
                <input type="text" id="group_name" name="group_name"
                    class="w-full h-10 border-b-2 border-green-0 outline-none bg-gray-700 text-white p-1 shadow-sm"
                    placeholder="example: Friend For Ever" value="{{group_name}}">
            </div>
            <div class="my-3 flex flex-col">
                <label for="group_desc" class="mb-1.5 capitalize font-medium text-green-0">Description</label>
                <input type="text" id="group_desc" name="group_desc"
                    class="w-full h-10 border-b-2 border-green-0 outline-none bg-gray-700 text-white p-1 shadow-sm"
                    placeholder="add description for your group" value="{{group_desc}}">
            </div>
 

            <button type="submit" id="create-group-btn"
                class="mt-3 w-full text-white rounded bg-green-0 py-3 px-4 font-bold uppercase transition-colors duration-300 hover:bg-green-0-dark">Create Group <i class="fa fa-long-arrow-right ml-3" aria-hidden="true"></i></button>
        </div>

        <h3 class="mt-8 text-white font-bold mb-3.5 capitalize">Add people to group</h3>

        <div class="mt-5 max-h-[17rem] overflow-x-hidden overflow-y-auto">
            {% if contacts == None %}
              <p class="text-white font-bold text-sm px-1.5">To add people to group, add people to your contact</p>
            {% else %}
            {% for contact in contacts %}
            <div class="py-2.5 px-2 flex items-center justify-between hover:bg-light-dark transition-colors duration-300 cursor-pointer rounded" id="user-search-contact-box">
                <label data-ripple-dark="true" for="{{contact.phone}}" class="grid grid-cols-6 place-items-center">
                    <div class="text-white text-3xl col-span-1 overflow-hidden w-16 h-16 rounded-full bg-cover bg-no-repeat bg-center flex items-center justify-center {% if contact.profile_pic == '' %} border-green-0 border-[3.1px] border-solid {% endif %}" {% if contact.profile_pic != '' %} style="background-image: url('/media/{{contact.profile_pic}}');" {% endif %}>
                        {% if contact.profile_pic == '' %} {{contact.first_name|slice:":1"}} {% endif %}
                    </div>
                    <div class="ml-2.5 col-span-5 w-full overflow-hidden text-white">
                        <p class="font-bold text-lg">{{contact.first_name}} {{contact.last_name}}</p>
                        <p class="font-bold text-xs text-gray-400" id="user-search-contact-phone">{{contact.phone}}</p>
                    </div>
                </label>

                <input value="{{contact.phone}}" name="phone_checkbox" type="checkbox" class="phone-checkbox rounded-full h-6 w-6 border-2 border-green-0-dark before:content[''] peer relative cursor-pointer appearance-none border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-green-0 checked:bg-green-0 checked:before:bg-green-0 hover:before:opacity-10" id="{{contact.phone}}" {% if contact.phone in selected_contacts %} checked {% endif %}>
                
            </div>
            {% endfor %}
            {% endif %}
            <div class="text-center text-xs text-white mt-5"> <a href="{% url 'contacts' %}" class="hover:text-green-0-dark transition-colors">add more people to your contacts to create group with them</a></div>
            
        </div>
    </form>
</div>


{% endblock body %}

{% block scripts %}
<script src="{% static 'js/create_chat_group.js' %}"></script>
{% endblock scripts %}