{% extends "../blocks/chat_base.html" %}

{% load static %}

{% block title %}Start Chatting and Connect With People | Conversat{% endblock title %}

{% block body %}
  <div class="overflow-y-hidden h-screen w-full bg-cover bg-no-repeat bg-center" style="background-image: url('{% static '/images/bg/chat-bg.png' %}');">
    <div class="flex backdrop-blur-[1.2px] h-screen flex-col items-center justify-center">
        <div class="w-2/5">
          <img src="{% static 'images/logo.png' %}" alt="start chatting" class="w-full h-auto drop-shadow-lg" loading="lazy">
        <div>
          <h3 class="text-left font-bold text-4xl text-gray-500 font-logo drop-shadow-lg">Start a Conversat</h3>
          <p class="text-left tracking-[0.08rem] font-bold text-green-0-dark drop-shadow-lg">Start chatting and connect with people</p>
        </div>
        </div>
    </div>
  </div>
{% endblock body %}